
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- scrollToTop -->
<!-- ================ -->
<div class="scrollToTop"><i class="icon-up-open-big"></i></div>


<!-- banner start -->
<!-- ================ -->
<div id="banner" class="banner">
    <div class="banner-image"></div>
    <div class="banner-caption">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 object-non-visible" data-animation-effect="fadeIn">
                    <h1 class="text-center">We are <span>Modizson</span></h1>
                    <p class="lead text-center">We, at Modizson, provide you world-class and highly satisfactory services across various verticals like IT consulting, business technology, and software development.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- banner end -->
<!-- section start -->
<!-- ================ -->
<div class="section clearfix object-non-visible" data-animation-effect="fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 id="about" class="title text-center">About <span>Modizson</span></h1>
                <p class="lead text-center">Founded in 2010, Modizson has come a long way earning experience, continued success and a well-satisfied clientele and is a one-stop solution for all the IT needs.</p>
                <div class="space"></div>
                <div class="row">
                    <div class="col-md-6">
                        <img src="~/images/section-image-1.png" alt="">
                        <div class="space"></div>
                    </div>
                    <div class="col-md-6">
                        <p style="text-align:justify;">
                            The lateral surfaces of Specialized IT services and Product management converge to a single point that forms the apex for us, the Modizson on the base of integrity, customer satisfaction, cost-efficiency and eminent skills.
                            we progress with power coupled with high expertise, high efficiency and high energy. We will meet your needs within two to four weeks, at the best price, with unmatched direct one on one customer service.
                        </p>
                        <p style="text-align:justify;">
                            We are powered by highly skilled professionals across all the domains who deliver lifecycle solutions, which are on par with industry Level standards.
                            The services include development, migration, testing, support and maintenance along with IT staff augmentation services, besides spanning across ERP and cutting-edge IT.
                        </p>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-caret-right pr-10 text-colored"></i> We exist to serve our clients</li>
                            <li><i class="fa fa-caret-right pr-10 text-colored"></i> We only follow the best practices</li>
                            <li><i class="fa fa-caret-right pr-10 text-colored"></i> Our employees are our strength</li>
                            <li><i class="fa fa-caret-right pr-10 text-colored"></i> We strive to stay on the cutting edge</li>
                        </ul>
                    </div>
                </div>
                <div class="space"></div>
                <h2>Our Mission</h2>
                <div class="row">
                    <div class="col-md-6">
                        <p style="text-align:justify;">
                            No longer would you go for the random resources as long as we partner you in specialized staffing. Our team of experts ensures you a hassle-free experience of IT services for your organization.
                            After all, we believe it is the service that makes any company stand firm.
                        </p>

                        <p style="text-align:justify;">
                            While we help you cut costs and focus on your business needs and expand your orbit of growth, we ensure transparency and quality in every project we embark on. We, at Modizson, are devoted to provide you apt solutions with the right platforms and sophisticated technology
                            for all your business needs.
                        </p>

                        <p style="text-align:justify;">We serve companies in UK and India. We're based in England. Our wholly owned, fully equipped development centers are located in Birmingham, England and Noida India.</p>
                    </div>
                    <div class="col-md-6">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Team to Win
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        We build authentic connections with no politics to have a friendly and full of fun evironments.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Change the Game
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        We shape the markets to build inspiring products and evelop them.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Customer First
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        We anticipate the customer needs and create amazing customer experiences. We deliver the exceptional values to our customers.
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingFou">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                            Integrity in Action
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                    <div class="panel-body">
                                        We do the right things to meet the commitments. We know what's right NOT who's right.
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingFive">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                            Result Matters
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                    <div class="panel-body">
                                        We take charges to execute the excellence and WIN.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section end -->
<!-- section start -->
<!-- ================ -->
<div class="section translucent-bg bg-image-1 blue">
    <div class="container object-non-visible" data-animation-effect="fadeIn">
        <h1 id="services" class="text-center title">Modizson Services</h1>
        <div class="space"></div>
        <div class="row">
            <div class="col-sm-6">
                <div class="media">
                    <div class="media-body text-right">
                        <h4 class="media-heading">Enterprise Solution</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus, voluptate eaque suscipit iste placeat.</p>
                    </div>
                    <div class="media-right">
                        <i class="fa fa-cog"></i>
                    </div>
                </div>
                <div class="media">
                    <div class="media-body text-right">
                        <h4 class="media-heading">Custom Software</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus, voluptate eaque suscipit iste placeat.</p>
                    </div>
                    <div class="media-right">
                        <i class="fa fa-check"></i>
                    </div>
                </div>
                <div class="media">
                    <div class="media-body text-right">
                        <h4 class="media-heading">Cloud Services</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus, voluptate eaque suscipit iste placeat.</p>
                    </div>
                    <div class="media-right">
                        <i class="fa fa-desktop"></i>
                    </div>
                </div>
                <div class="media">
                    <div class="media-body text-right">
                        <h4 class="media-heading">Designing Services</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus, voluptate eaque suscipit iste placeat.</p>
                    </div>
                    <div class="media-right">
                        <i class="fa fa-users"></i>
                    </div>
                </div>
            </div>
            <div class="space visible-xs"></div>
            <div class="col-sm-6">
                <div class="media">
                    <div class="media-left">
                        <i class="fa fa-leaf"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Global Services</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus, voluptate eaque suscipit iste placeat.</p>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <i class="fa fa-area-chart"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">On Demand IT Services</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus, voluptate eaque suscipit iste placeat.</p>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <i class="fa fa-child"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Big data / Analytics</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus, voluptate eaque suscipit iste placeat.</p>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <i class="fa fa-codepen"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Other Servcies</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus, voluptate eaque suscipit iste placeat.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section end -->
<!-- section start -->
<!-- ================ -->
<div class="default-bg space blue">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="text-center">Let's Work Together!</h1>
            </div>
        </div>
    </div>
</div>
<!-- section end -->
<!-- section start -->
<!-- ================ -->
<div class="section">
    <div class="container">
        <h1 class="text-center title" id="portfolio">Portfolio</h1>
        <div class="separator"></div>
        <p class="lead text-center">
            We have always focused on delivering innovative solutions to help our clients meet their goals at all times. <br />
            We understand the importance of adhering to project deadlines and meeting the quality standards. we have always surpassed our client expectations...
        </p>
        <br>
        <div class="row object-non-visible" data-animation-effect="fadeIn">
            <div class="col-md-12">

                <!-- isotope filters start -->
                <div class="filters text-center">
                    <ul class="nav nav-pills">
                        <li class="active"><a href="#" data-filter="*">All</a></li>
                        <li><a href="#" data-filter=".web-design">Web design</a></li>
                        <li><a href="#" data-filter=".app-development">App development</a></li>
                        <li><a href="#" data-filter=".site-building">Site building</a></li>
                    </ul>
                </div>
                <!-- isotope filters end -->
                <!-- portfolio items start -->
                <div class="isotope-container row grid-space-20">
                    <div class="col-sm-6 col-md-3 isotope-item web-design">
                        <div class="image-box">
                            <div class="overlay-container">
                                <img src="images/portfolio-1.jpg" alt="">
                                <a class="overlay" data-toggle="modal" data-target="#project-1">
                                    <i class="fa fa-search-plus"></i>
                                    <span>Web Design</span>
                                </a>
                            </div>
                            <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-1">Badminton Crew</a>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="project-1" tabindex="-1" role="dialog" aria-labelledby="project-1-label" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title" id="project-1-label">Badminton Crew</h4>
                                    </div>
                                    <div class="modal-body">
                                        <h3>Project Description</h3>
                                        <div class="row">
                                            <div class="col-md-6" style="text-align:justify;">
                                                <p>Badminton Crew is a online portal that can be used to register any one to join the club. This tool can helps the individual in efficient and effective management of his or her account activities.</p>

                                                <p>
                                                    This portal can helps the organizations in efficient and effective management of club members activities.
                                                    This provides a web interface for all aspects of account management, task creation and assignment, activity reporting and time entry.
                                                </p>

                                                <p>
                                                    This is Microsoft .NET Core Technologies and SQL Server which runs on Window platoform. This supports all the latest browser and responsive devices
                                                </p>
                                                <p>
                                                    It has a greart feature of accessing your account which is role based and each role has its own set of permission. eg: Admin, sysadmin and player
                                                </p>
                                            </div>
                                            <div class="col-md-6">
                                                <img src="images/portfolio-1.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal end -->
                    </div>

                    <div class="col-sm-6 col-md-3 isotope-item app-development">
                        <div class="image-box">
                            <div class="overlay-container">
                                <img src="images/portfolio-2.jpg" alt="">
                                <a class="overlay" data-toggle="modal" data-target="#project-2">
                                    <i class="fa fa-search-plus"></i>
                                    <span>App Development</span>
                                </a>
                            </div>
                            <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-2">Medico</a>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="project-2" tabindex="-1" role="dialog" aria-labelledby="project-2-label" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title" id="project-2-label">Medico</h4>
                                    </div>
                                    <div class="modal-body">
                                        <h3>Project Description</h3>
                                        <div class="row">
                                            <div class="col-md-6" style="text-align:justify;">
                                                <p>Medico is a online medical consultancy platform portal that can be used to register any one to access the medical advise. This tool can helps the individual in efficient and effective management of his or her account activities.</p>

                                                <p>
                                                    See doctors and other registered healthcare professionals absolutely free online by video consultation, from the comfort of your home.
                                                </p>

                                                <p>
                                                    This is Microsoft .NET Core Technologies and SQL Server which runs on Window platoform. This supports all the latest browser and responsive devices
                                                </p>
                                                <p>
                                                    It has a greart feature of accessing your account which is role based and each role has its own set of permission. eg: Admin, sysadmin and player
                                                </p>

                                            </div>
                                            <div class="col-md-6">
                                                <img src="images/portfolio-2.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal end -->
                    </div>

                    <div class="col-sm-6 col-md-3 isotope-item web-design">
                        <div class="image-box">
                            <div class="overlay-container">
                                <img src="images/portfolio-3.jpg" alt="">
                                <a class="overlay" data-toggle="modal" data-target="#project-3">
                                    <i class="fa fa-search-plus"></i>
                                    <span>Web Design</span>
                                </a>
                            </div>
                            <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-3">Chitraleka</a>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="project-3" tabindex="-1" role="dialog" aria-labelledby="project-3-label" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title" id="project-3-label">Chitraleka</h4>
                                    </div>
                                    <div class="modal-body">
                                        <h3>Project Description</h3>
                                        <div class="row">
                                            <div class="col-md-6" style="text-align:justify;">

                                                <p>Chitraleka is a web based CRM System that helps the individual in efficient and effective management of his or her account.</p>

                                                <p>
                                                    Allow individual to access the course mateterials, videos and all necessary study documents remotely.
                                                </p>

                                                <p>
                                                    This is Microsoft .NET Core Technologies and SQL Server which runs on Window platoform. This supports all the latest browser and responsive devices
                                                </p>
                                                <p>
                                                    It has a greart feature of accessing your account which is role based and each role has its own set of permission.
                                                </p>
                                            </div>
                                            <div class="col-md-6">
                                                <img src="images/portfolio-3.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal end -->
                    </div>
                    
                    <div class="col-sm-6 col-md-3 isotope-item site-building">
                        <div class="image-box">
                            <div class="overlay-container">
                                <img src="images/portfolio-4.jpg" alt="">
                                <a class="overlay" data-toggle="modal" data-target="#project-4">
                                    <i class="fa fa-search-plus"></i>
                                    <span>Site Building</span>
                                </a>
                            </div>
                            <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-4">Easy Pay</a>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="project-4" tabindex="-1" role="dialog" aria-labelledby="project-4-label" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title" id="project-4-label">Easy Pay</h4>
                                    </div>
                                    <div class="modal-body">
                                        <h3>Project Description</h3>
                                        <div class="row">
                                            <div class="col-md-6" style="text-align:justify;">
                                                <p>Easy Pay is a web based Marketing System that helps the individual or business in efficient and effective management of his or her client portfoio and account.</p>

                                                <p>
                                                    This has all the social digital marketing features which help to secure the clients and enhances the ROI of a business
                                                </p>

                                                <p>
                                                    This is Microsoft .NET Technologies and SQL Server which runs on Window platoform. This supports all the latest browser and responsive devices
                                                </p>
                                                <p>
                                                    It has a greart feature of producing all the marketing communications to be spread very loud with high conversion rate.
                                                </p>
                                            </div>
                                            <div class="col-md-6">
                                                <img src="images/portfolio-4.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal end -->
                    </div>

                    <div class="col-sm-6 col-md-3 isotope-item app-development">
                        <div class="image-box">
                            <div class="overlay-container">
                                <img src="images/portfolio-5.jpg" alt="">
                                <a class="overlay" data-toggle="modal" data-target="#project-5">
                                    <i class="fa fa-search-plus"></i>
                                    <span>App Development</span>
                                </a>
                            </div>
                            <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-5">Cryptonics</a>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="project-5" tabindex="-1" role="dialog" aria-labelledby="project-5-label" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title" id="project-5-label">Cryptonics</h4>
                                    </div>
                                    <div class="modal-body">
                                        <h3>Project Description</h3>
                                        <div class="row">

                                            <div class="col-md-6" style="text-align:justify;">
                                                <p>Cryptonics is a web based Marketing System that helps the individual or home based people to explore the digital currencies business and gain a good amount of profits by using the social tools inside this software.</p>

                                                <p>
                                                    This has all the social digital marketing features which help to secure the ROI of a person
                                                </p>

                                                <p>
                                                    This is Microsoft .NET Technologies and SQL Server which runs on Window platoform. This supports all the latest browser and responsive devices
                                                </p>
                                                <p>
                                                    It has a greart feature of producing all the marketing communications to be spread very loud with high conversion rate.
                                                </p>
                                            </div>

                                            <div class="col-md-6">
                                                <img src="images/portfolio-5.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal end -->
                    </div>

                    <div class="col-sm-6 col-md-3 isotope-item web-design">
                        <div class="image-box">
                            <div class="overlay-container">
                                <img src="images/portfolio-6.jpg" alt="">
                                <a class="overlay" data-toggle="modal" data-target="#project-6">
                                    <i class="fa fa-search-plus"></i>
                                    <span>Web Design</span>
                                </a>
                            </div>
                            <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-6">Lodger</a>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="project-6" tabindex="-1" role="dialog" aria-labelledby="project-6-label" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title" id="project-6-label">Lodger</h4>
                                    </div>
                                    <div class="modal-body">
                                        <h3>Project Description</h3>
                                        <div class="row">
                                            <div class="col-md-6" style="text-align:justify;">
                                                <p>Lodger is integrated system, so your landlord and tenant account balances are regularly updated throughout the day and accurate to the penny.</p>

                                                <p>
                                                    No more spreadsheets, highlighters and bank statements
                                                    Match payments to the right tenants in a few seconds – no matter how your tenants choose to pay.
                                                </p>

                                                <p>
                                                    Based on rules you set, Lodger pays your commission, contractors, landlords and other recipients chosen by you. All this can happen on the same day your tenant pays the rent.
                                                </p>
                                                <p>
                                                    It has a greart feature of producing all the AUTOMATED REPORTING AND COMMUNICATION and Keep everyone informed. It automate your tenant invoicing, payment notifications and reminders.
                                                </p>
                                            </div>

                                            <div class="col-md-6">
                                                <img src="images/portfolio-6.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal end -->
                    </div>


                    <div class="col-sm-6 col-md-3 isotope-item site-building">
                        <div class="image-box">
                            <div class="overlay-container">
                                <img src="images/portfolio-7.jpg" alt="">
                                <a class="overlay" data-toggle="modal" data-target="#project-7">
                                    <i class="fa fa-search-plus"></i>
                                    <span>Site Building</span>
                                </a>
                            </div>
                            <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-7">Gift Hub</a>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="project-7" tabindex="-1" role="dialog" aria-labelledby="project-7-label" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title" id="project-7-label">Gift Hub</h4>
                                    </div>
                                    <div class="modal-body">
                                        <h3>Project Description</h3>
                                        <div class="row">
                                            <div class="col-md-6" style="text-align:justify;">

                                                <p>Like any web store Gift Hub is also a online shopping website where wide range to gift products are listed and can be purchased</p>

                                                <p>
                                                    A web store for large range of Giftware. There is no subscription, its absolutely free and you will have access to a world of great items in seconds.
                                                </p>

                                                <p>
                                                    It has a greart feature of producing all the communications and Keep everyone informed. It automate the invoices,payment notifications and reminders.
                                                </p>
                                            </div>
                                            <div class="col-md-6">
                                                <img src="images/portfolio-7.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal end -->
                    </div>

                    <div class="col-sm-6 col-md-3 isotope-item web-design">
                        <div class="image-box">
                            <div class="overlay-container">
                                <img src="images/portfolio-8.jpg" alt="">
                                <a class="overlay" data-toggle="modal" data-target="#project-8">
                                    <i class="fa fa-search-plus"></i>
                                    <span>Web Design</span>
                                </a>
                            </div>
                            <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-8">CloudShop</a>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="project-8" tabindex="-1" role="dialog" aria-labelledby="project-8-label" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title" id="project-8-label">CloudShop</h4>
                                    </div>
                                    <div class="modal-body">
                                        <h3>Project Description</h3>
                                        <div class="row">
                                            <div class="col-md-6" style="text-align:justify;">

                                                <p>CloudShop is a cloud based data warehouse for ecommerce industry which has amazing inventory managements integrated features</p>


                                                <p>
                                                    It has a greart feature of product synchronization, image processing and inventory stocking.
                                                </p>

                                                <p>
                                                    It have automated all the required features of inventory management system and integrated with 3rd parties as well.
                                                </p>

                                                <p>
                                                    It has a mechanism to schedule all your jobs and task related to your inventory or store on cloud.
                                                </p>
                                            </div>

                                            <div class="col-md-6">
                                                <img src="images/portfolio-8.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal end -->
                    </div>

                    <div class="col-sm-6 col-md-3 isotope-item web-design">
                        <div class="image-box">
                            <div class="overlay-container">
                                <img src="images/portfolio-9.jpg" alt="">
                                <a class="overlay" data-toggle="modal" data-target="#project-9">
                                    <i class="fa fa-search-plus"></i>
                                    <span>Web Design</span>
                                </a>
                            </div>
                            <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-9">SchoolTech</a>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="project-9" tabindex="-1" role="dialog" aria-labelledby="project-9-label" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title" id="project-9-label">Project Title</h4>
                                    </div>
                                    <div class="modal-body">
                                        <h3>Project Description</h3>
                                        <div class="row">
                                            <div class="col-md-6" style="text-align:justify;">
                                                <p>
                                                    SchoolTech, A Cloud-based customer relationship management (CRM) solution that enables small to midsize childcare centers and preschools to manage admissions, billing, payroll & more.
                                                </p>
                                                <p>
                                                    SchoolTech, A CRM for Child Care Centers - School CRM is a Customer Relationship Management Application that enables you to Measure, Manage and Improve your Lead Management, Marketing Campaigns which Results in Improving Profitability and Staying ahead of your competition.Exclusively designed for Childcare industry
                                                </p>
                                                <p>
                                                    This Supports and provide features like billing & invoicing, calendar maanagement, daily reports, employee management, parent portal, payment processing and registration management.
                                                </p>
                                            </div>
                                            <div class="col-md-6">
                                                <img src="images/portfolio-9.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal end -->
                    </div>

                    <div class="col-sm-6 col-md-3 isotope-item site-building">
                        <div class="image-box">
                            <div class="overlay-container">
                                <img src="images/portfolio-10.jpg" alt="">
                                <a class="overlay" data-toggle="modal" data-target="#project-10">
                                    <i class="fa fa-search-plus"></i>
                                    <span>Site Building</span>
                                </a>
                            </div>
                            <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-10">My Entry</a>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="project-10" tabindex="-1" role="dialog" aria-labelledby="project-10-label" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title" id="project-10-label">My Entry</h4>
                                    </div>
                                    <div class="modal-body">
                                        <h3>Project Description</h3>
                                        <div class="row">
                                            <div class="col-md-6" style="text-align:justify;">
                                                <p>
                                                    My Entry, a thin client software to manage your montly budget and monthly expenses
                                                </p>

                                                <p>
                                                    This Supports and provide features like push notification and budget alarm
                                                </p>
                                                <p>
                                                    This helps you to keep track of your budget. You can set many reminders and pending task to be notified
                                                </p>
                                                <p>
                                                    Our software puts you in control of your household spending and analysis your results to help you take control of your money. It’s already helped hundreds of thousands of people.
                                                </p>
                                            </div>
                                            <div class="col-md-6">
                                                <img src="images/portfolio-10.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal end -->
                    </div>

                    <div class="col-sm-6 col-md-3 isotope-item web-design">
                        <div class="image-box">
                            <div class="overlay-container">
                                <img src="images/portfolio-11.jpg" alt="">
                                <a class="overlay" data-toggle="modal" data-target="#project-11">
                                    <i class="fa fa-search-plus"></i>
                                    <span>Web Design</span>
                                </a>
                            </div>
                            <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-11">eStorelogy</a>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="project-11" tabindex="-1" role="dialog" aria-labelledby="project-11-label" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title" id="project-11-label">Project Title</h4>
                                    </div>
                                    <div class="modal-body">
                                        <h3>Project Description</h3>
                                        <div class="row">

                                            <div class="col-md-6" style="text-align:justify;">
                                                <p>eStorelogy is a Microsoft Technology based data warehouse for ecommerce industry which has amazing inventory managements integrated features</p>


                                                <p>
                                                    It has a greart feature of product synchronization, image processing and inventory stocking.
                                                </p>

                                                <p>
                                                    It have automated all the required features of inventory management system and integrated with 3rd parties as well like eBay,Amazon etc..
                                                </p>

                                                <p>
                                                    Lasrge number of online template selection based on your need and budget.
                                                </p>

                                                <p>
                                                    Consuming and producing the feed files in various formats like JSON,CSV,XML
                                                </p>
                                                <p>
                                                    Extensive use of RESTFUL Web API Technology
                                                </p>
                                            </div>


                                            <div class="col-md-6">
                                                <img src="images/portfolio-11.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal end -->
                    </div>

                    <div class="col-sm-6 col-md-3 isotope-item app-development">
                        <div class="image-box">
                            <div class="overlay-container">
                                <img src="images/portfolio-12.jpg" alt="">
                                <a class="overlay" data-toggle="modal" data-target="#project-12">
                                    <i class="fa fa-search-plus"></i>
                                    <span>App Development</span>
                                </a>
                            </div>
                            <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-12">Extreme Marketing</a>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="project-12" tabindex="-1" role="dialog" aria-labelledby="project-12-label" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title" id="project-12-label">Project Title</h4>
                                    </div>
                                    <div class="modal-body">
                                        <h3>Project Description</h3>
                                        <div class="row">
                                            <div class="col-md-6" style="text-align:justify;">
                                                <p>
                                                    Extreme Marketing is a Microsoft Technology based digital marketing system which gives the solution for Email Marketing, Email Automation, SMS Marketing, List Management and Integrations & API
                                                </p>

                                                <p>
                                                    This is marketing automation software which create fully integrated campaigns that guide your leads and customers through a seamless journey with your brand.
                                                    Using powerful marketing automation to route your contacts based on their behaviors and preferences, you can generate optimal results while maintaining personal relationships.

                                                </p>

                                            </div>

                                            <div class="col-md-6">
                                                <img src="images/portfolio-12.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal end -->
                    </div>

                </div>
                <!-- portfolio items end -->

            </div>
        </div>
    </div>
</div>
<!-- section end -->
<!-- section start -->
<!-- ================ -->
<div class="section translucent-bg bg-image-2 pb-clear">
    <div class="container object-non-visible" data-animation-effect="fadeIn">
        <h1 id="clients" class="title text-center">Clients</h1>
        <div class="space"></div>
        <div class="row">
            <div class="col-md-4">
                <div class="media testimonial">
                    <div class="media-left">
                        <img src="images/testimonial-1.png" alt="">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">You are Amazing!</h3>
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo.</p>
                            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media testimonial">
                    <div class="media-left">
                        <img src="images/testimonial-2.png" alt="">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Yeah!</h3>
                        <blockquote>
                            <p>Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus.</p>
                            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media testimonial">
                    <div class="media-left">
                        <img src="images/testimonial-3.png" alt="">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Thank You!</h3>
                        <blockquote>
                            <p>Aperiam consequatur quo quis exercitationem reprehenderit suscipit iste placeat.</p>
                            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="media testimonial">
                    <div class="media-left">
                        <img src="images/testimonial-2.png" alt="">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Thank You!</h3>
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo.</p>
                            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media testimonial">
                    <div class="media-left">
                        <img src="images/testimonial-3.png" alt="">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Amazing!</h3>
                        <blockquote>
                            <p>Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus.</p>
                            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media testimonial">
                    <div class="media-left">
                        <img src="images/testimonial-1.png" alt="">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Best!</h3>
                        <blockquote>
                            <p>Aperiam consequatur quo quis exercitationem reprehenderit suscipit iste placeat.</p>
                            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- section start -->
    <!-- ================ -->
    <div class="translucent-bg blue">
        <div class="container">
            <div class="list-horizontal">
                <div class="row">
                    <div class="col-xs-2">
                        <div class="list-horizontal-item">
                            <img src="images/client-1.png" alt="client">
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="list-horizontal-item">
                            <img src="images/client-2.png" alt="client">
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="list-horizontal-item">
                            <img src="images/client-3.png" alt="client">
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="list-horizontal-item">
                            <img src="images/client-4.png" alt="client">
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="list-horizontal-item">
                            <img src="images/client-5.png" alt="client">
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="list-horizontal-item">
                            <img src="images/client-6.png" alt="client">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- section end -->
</div>
<!-- section end -->
<!-- section start -->
<!-- ================ -->
<div class="default-bg space">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="text-center">Our <span style="color:yellow;">Happy Clients!</span></h1>
            </div>
        </div>
    </div>
</div>
<!-- section end -->
